
node_modules
/.pnp
.pnp.js

/.next/
/out/
build

# Ignore all .env files so you don't leak database credentials or API keys (Google AI, Groq, etc.)
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local


# If you ever switch to SQLite for local dev, this prevents committing the DB
*.db
*.db-journal

*.tsbuildinfo
next-env.d.ts

/dist
/coverage


.DS_Store
*.pem
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vercel